n8n/workflow.json
{
  "name": "Перепроверка .cha расшифровок CHILDES",
  "nodes": [
    {
      "parameters": {},
      "id": "fc1bcc90-dc49-4d18-b2a9-5155de04e073",
      "name": "Старт",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "956a8721-58fb-4209-95c1-7d646111fc0c",
              "name": "apiKey",
              "value": "вставьте-сюда-свой-API-ключ-Yandex-Cloud",
              "type": "string"
            },
            {
              "id": "acaa222b-712f-4219-be6a-030d8071c226",
              "name": "folderId",
              "value": "вставьте-сюда-folder-id-каталога",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d26b292-3088-4225-88f9-199105e96ad2",
      "name": "Ключи Yandex Cloud (НЕ публиковать в скриншотах!)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "9e995c12-300f-4aff-b71e-3c1129675e86",
              "name": "fileName",
              "value": "T14-checked.cha",
              "type": "string"
            },
            {
              "id": "66e90259-1bae-4aad-97b1-3294c6becb26",
              "name": "chaText",
              "value": "@UTF8\nвставьте сюда полный текст .cha файла для проверки",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1e5011c7-a3a7-46be-9a67-d17126b4b642",
      "name": "Вставить .cha файл",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Код для n8n Code-узла (\"Правила: найти подозрительные предложения\")\n// Язык: JavaScript, режим \"Run Once for All Items\"\n// Вход: один item с binary-файлом .cha (или json.chaText — сырой текст файла)\n// Выход: один item со всеми предложениями + списком подозрений на каждое\n//\n// Это прямой перенос протестированной логики из prototype/cha_parser.py\n// (проверено на 576 файлах реального корпуса, 156k предложений, без ошибок парсинга).\n\nconst CASES = new Set([\"Nom\", \"Gen\", \"Acc\", \"Dat\", \"Ins\", \"Loc\", \"Voc\"]);\nconst GENDERS = new Set([\"Masc\", \"Fem\", \"Neut\"]);\nconst NUMBERS = new Set([\"Sing\", \"Plur\"]);\nconst NUM_PERSON_COMBO = /^[SP][123]$/;\nconst BARE_NUMBER = /^[SP]$/;\nconst QUANT_2_4 = new Set([\"два\", \"две\", \"три\", \"четыре\", \"двадцать два\", \"двадцать две\", \"двадцать три\", \"двадцать четыре\"]);\nconst INTERROGATIVE_RELATIVE_PRON = new Set([\"что\", \"кто\", \"какой\", \"чей\", \"сколько\", \"который\"]);\nconst NOM_ACC_DISTINCT_PRON = new Set([\"ты\", \"он\", \"она\", \"я\", \"мы\", \"вы\", \"они\", \"кто\", \"который\"]);\nconst ANIMACY = new Set([\"Anim\", \"Inan\"]);\n\n// ВКЛЮЧАЕТ правило \"noun_missing_animacy\" (обогащение разметки — не ошибка, а задача\n// \"определи и добавь одушевлённость\"). Одушевлённость сейчас проставлена лишь у ~2.5%\n// существительных корпуса даже в проверенных файлах — включение резко увеличивает\n// число подозрительных предложений (~x3 по объёму). Включено по решению автора проекта.\nconst ENRICH_ANIMACY = true;\n\n// --- эмпирические списки допустимых тегов (посчитаны по всему корпусу, 576 файлов) ---\n// см. docs/tag_frequency.txt. Порог включения: частота >= 50 (%gra) / >= 20 (%mor pos),\n// плюс вручную добавлены редкие, но настоящие теги UD (DEP, COMPOUND, GOESWITH и их\n// альтернативная нотация через \":\" вместо \"-\").\nconst GRA_TAG_WHITELIST = new Set([\n  \"PUNCT\", \"ROOT\", \"NSUBJ\", \"ADVMOD\", \"CONJ\", \"DISCOURSE\", \"OBJ\", \"CASE\", \"CC\",\n  \"OBL\", \"PARATAXIS\", \"DET\", \"AMOD\", \"VOCATIVE\", \"XCOMP\", \"IOBJ\", \"MARK\", \"CCOMP\",\n  \"NMOD\", \"FLAT\", \"AUX\", \"CSUBJ\", \"FIXED\", \"APPOS\", \"COP\", \"NUMMOD-GOV\", \"ADVCL\",\n  \"EXPL\", \"NUMMOD\", \"ORPHAN\", \"FLAT-NAME\", \"ACL-RELCL\", \"NSUBJ-PASS\", \"FLAT-FOREIGN\",\n  \"INTJ\", \"REPARANDUM\", \"ACL\", \"NUMMOD-ENTITY\", \"DISLOCATED\", \"OBL-TMOD\", \"DEP\",\n  \"COMPOUND\",\n  \"DET-NUMGOV\", \"FLAT:FOREIGN\", \"NSUBJ:PASS\", \"AUX-PASS\", \"AUX:PASS\", \"OBL-FLOAT\",\n  \"OBL:FLOAT\", \"GOESWITH\", \"NUMMOD:GOV\", \"FLAT:NAME\", \"ACL:RELCL\", \"CONJ-PASS\",\n]);\nconst MOR_POS_WHITELIST = new Set([\n  \"noun\", \"verb\", \"intj\", \"pron\", \"cm\", \"adv\", \"part\", \"adp\", \"cconj\", \"adj\",\n  \"propn\", \"det\", \"num\", \"x\", \"sconj\", \"aux\", \"let\", \"o\", \"punct\", \"sym\", \"seng\",\n  \"hyph\", \"c\", \"si\", \"sita\",\n]);\n\nfunction levenshtein(a, b) {\n  if (a === b) return 0;\n  if (!a || !b) return Math.max(a.length, b.length);\n  let prev = Array.from({ length: b.length + 1 }, (_, i) => i);\n  for (let i = 1; i <= a.length; i++) {\n    const curr = [i];\n    for (let j = 1; j <= b.length; j++) {\n      const cost = a[i - 1] === b[j - 1] ? 0 : 1;\n      curr[j] = Math.min(prev[j] + 1, curr[j - 1] + 1, prev[j - 1] + cost);\n    }\n    prev = curr;\n  }\n  return prev[b.length];\n}\n\nfunction closestWhitelistMatch(tag, whitelist, maxDistance = 2) {\n  let best = null;\n  let bestDist = maxDistance + 1;\n  for (const w of whitelist) {\n    const d = levenshtein(tag, w);\n    if (d < bestDist) {\n      best = w;\n      bestDist = d;\n    }\n  }\n  return bestDist <= maxDistance ? best : null;\n}\n\nfunction splitMorToken(token) {\n  if (!token.includes(\"|\")) return null; // голая пунктуация: '.', '!', '?'\n  const idx = token.indexOf(\"|\");\n  const pos = token.slice(0, idx);\n  const rest = token.slice(idx + 1);\n  const parts = rest.split(\"-\");\n  return { pos, lemma: parts[0], cats: parts.slice(1), raw: token };\n}\n\nfunction parseCha(text) {\n  const lines = text.split(/\\r?\\n/);\n  const utterances = [];\n  let current = null;\n  let currentTier = null;\n  let seenFirst = false;\n  const headerLines = [];\n\n  for (let idx = 0; idx < lines.length; idx++) {\n    const line = lines[idx];\n\n    if (line.startsWith(\"*\")) {\n      seenFirst = true;\n      const m = line.match(/^\\*([A-Z0-9_]+):\\t?(.*)$/);\n      current = {\n        speaker: m ? m[1] : \"UNK\",\n        textLine: line,\n        lineIdx: idx,\n        textLineIndices: [idx],\n        morRaw: \"\",\n        morUsedSpace: false,\n        morLineIndices: [],\n        graRaw: \"\",\n        graUsedSpace: false,\n        graLineIndices: [],\n      };\n      utterances.push(current);\n      currentTier = null;\n      continue;\n    }\n\n    if (!seenFirst) {\n      headerLines.push(line);\n      continue;\n    }\n\n    if (/^%mor:[ \\t]/.test(line) || line === \"%mor:\") {\n      const usedSpace = line.startsWith(\"%mor: \") && !line.startsWith(\"%mor:\\t\");\n      current.morRaw = line.slice(5).replace(/^[ \\t]+/, \"\");\n      current.morUsedSpace = usedSpace;\n      current.morLineIndices = [idx];\n      currentTier = \"mor\";\n      continue;\n    }\n\n    if (/^%gra:[ \\t]/.test(line) || line === \"%gra:\") {\n      const usedSpace = line.startsWith(\"%gra: \") && !line.startsWith(\"%gra:\\t\");\n      current.graRaw = line.slice(5).replace(/^[ \\t]+/, \"\");\n      current.graUsedSpace = usedSpace;\n      current.graLineIndices = [idx];\n      currentTier = \"gra\";\n      continue;\n    }\n\n    if (line.startsWith(\"%\")) {\n      currentTier = \"other\";\n      continue;\n    }\n\n    if (line.startsWith(\"\\t\") || (line.trim() === \"\" && currentTier)) {\n      // строка-продолжение предыдущего тира (реплика/mor/gra переносятся на несколько\n      // строк). Если ещё не видели %mor:/%gra: для этой реплики (currentTier === null) —\n      // значит это продолжение самой реплики (текста), а не тира.\n      const content = line.trim();\n      if (!current) { headerLines.push(line); continue; }\n      if (currentTier === \"mor\") {\n        current.morRaw = (current.morRaw + \" \" + content).trim();\n        current.morLineIndices.push(idx);\n      } else if (currentTier === \"gra\") {\n        current.graRaw = (current.graRaw + \" \" + content).trim();\n        current.graLineIndices.push(idx);\n      } else if (currentTier === null) {\n        current.textLine = (current.textLine + \" \" + content).trim();\n        current.textLineIndices.push(idx);\n      }\n      continue;\n    }\n\n    if (!current) headerLines.push(line);\n  }\n\n  return { headerLines, utterances };\n}\n\nfunction checkUtterance(u) {\n  const issues = [];\n  if (u.morUsedSpace) issues.push({ rule: \"tab_vs_space\", tier: \"%mor\", detail: \"После %mor: стоит пробел вместо таба\" });\n  if (u.graUsedSpace) issues.push({ rule: \"tab_vs_space\", tier: \"%gra\", detail: \"После %gra: стоит пробел вместо таба\" });\n\n  const morTokens = u.morRaw ? u.morRaw.split(/\\s+/).filter(Boolean) : [];\n  const graTokens = u.graRaw ? u.graRaw.split(/\\s+/).filter(Boolean) : [];\n\n  if (morTokens.length && graTokens.length && morTokens.length !== graTokens.length) {\n    issues.push({ rule: \"token_count_mismatch\", detail: `Число токенов %mor (${morTokens.length}) != число токенов %gra (${graTokens.length})` });\n  }\n\n  const parsedMor = morTokens.map(splitMorToken);\n  const graWordRole = new Map(); // wordNo -> [head, TAG] — для кросс-проверок с %mor ниже\n\n  if (morTokens.length || graTokens.length) {\n    if (graTokens.length) {\n      let rootCount = 0, rootHeadOk = true;\n      for (const tok of graTokens) {\n        const m = tok.match(/^(\\d+)\\|(\\d+|-)\\|([A-Za-z:_]+)$/);\n        if (!m) continue;\n        const [, num, head, tag] = m;\n        const upperTag = tag.toUpperCase();\n        graWordRole.set(Number(num), [head, upperTag]);\n        if (upperTag === \"ROOT\") {\n          rootCount++;\n          if (head !== \"0\") rootHeadOk = false;\n        } else if (!GRA_TAG_WHITELIST.has(upperTag)) {\n          const suggestion = closestWhitelistMatch(upperTag, GRA_TAG_WHITELIST);\n          if (suggestion) {\n            issues.push({ rule: \"gra_tag_typo\", wordNo: Number(num), detail: `Синтаксический тег '${tag}' похож на опечатку — возможно, имелся в виду '${suggestion}'` });\n          }\n        }\n      }\n      if (rootCount === 0) issues.push({ rule: \"no_root\", detail: \"В предложении не найден узел ROOT\" });\n      else if (rootCount > 1) issues.push({ rule: \"multiple_root\", detail: `В предложении ${rootCount} узлов ROOT (должен быть один)` });\n      if (rootCount >= 1 && !rootHeadOk) issues.push({ rule: \"root_head_not_zero\", detail: \"Вершина ROOT не равна 0 (возможно, использован '-' вместо '0')\" });\n    }\n  }\n\n  parsedMor.forEach((tok, i) => {\n    if (!tok) return;\n    const { pos, cats, lemma } = tok;\n    const wordNo = i + 1;\n\n    if (!MOR_POS_WHITELIST.has(pos)) {\n      const suggestion = closestWhitelistMatch(pos, MOR_POS_WHITELIST);\n      if (suggestion) {\n        issues.push({ rule: \"mor_pos_typo\", wordNo, detail: `Часть речи '${pos}' похожа на опечатку — возможно, имелось в виду '${suggestion}'` });\n      }\n    }\n\n    if (pos === \"noun\" || pos === \"propn\") {\n      const hasGender = cats.some((c) => GENDERS.has(c));\n      const hasNumber = cats.some((c) => NUMBERS.has(c));\n      const hasCase = cats.some((c) => CASES.has(c));\n      if (!(hasGender && hasNumber && hasCase)) {\n        const missing = [];\n        if (!hasGender) missing.push(\"род\");\n        if (!hasNumber) missing.push(\"число\");\n        if (!hasCase) missing.push(\"падеж\");\n        issues.push({ rule: \"noun_missing_category\", wordNo, detail: `У существительного/имени '${lemma}' не указано: ${missing.join(\", \")}` });\n      }\n\n      // порядок категорий: род-число-падеж(-одушевлённость). Проверено на всём корпусе —\n      // доминирующий порядок (63827 из ~70000 существительных). Неизвестные сегменты\n      // (например часть дефисной леммы: \"чунга-чанга\") игнорируем — важен только\n      // относительный порядок известных категорий.\n      const RANK = { G: 0, N: 1, C: 2, A: 3 };\n      const orderSeen = [];\n      for (const c of cats) {\n        if (GENDERS.has(c)) orderSeen.push(\"G\");\n        else if (NUMBERS.has(c)) orderSeen.push(\"N\");\n        else if (CASES.has(c)) orderSeen.push(\"C\");\n        else if (ANIMACY.has(c)) orderSeen.push(\"A\");\n      }\n      const sortedOrder = [...orderSeen].sort((a, b) => RANK[a] - RANK[b]);\n      if (orderSeen.join(\"\") !== sortedOrder.join(\"\")) {\n        issues.push({ rule: \"noun_category_order\", wordNo, detail: `У существительного/имени '${lemma}' категории идут не в стандартном порядке род-число-падеж(-одушевлённость), сейчас: ${orderSeen.join(\"-\")}` });\n      }\n    }\n\n    if (pos === \"det\") {\n      const hasCase = cats.some((c) => CASES.has(c));\n      if (!hasCase) {\n        issues.push({ rule: \"det_missing_case\", wordNo, detail: `У местоименного прилагательного '${lemma}' не указан падеж (по FAQ — нужен)` });\n      }\n    }\n\n    if (ENRICH_ANIMACY && (pos === \"noun\" || pos === \"propn\")) {\n      const hasAnimacy = cats.some((c) => ANIMACY.has(c));\n      if (!hasAnimacy) {\n        issues.push({ rule: \"noun_missing_animacy\", wordNo, detail: `У существительного/имени '${lemma}' не указана одушевлённость (Anim/Inan) — задача обогащения разметки, не ошибка` });\n      }\n    }\n\n    const role = (graWordRole.get(wordNo) || [null, null])[1];\n\n    // кросс-проверка с %gra: слово с ролью VOCATIVE должно стоять в Voc, а не Nom\n    if ((pos === \"noun\" || pos === \"propn\") && role === \"VOCATIVE\") {\n      if (cats.includes(\"Nom\") && !cats.includes(\"Voc\")) {\n        issues.push({ rule: \"vocative_should_be_voc\", wordNo, detail: `'${lemma}' — обращение (VOCATIVE), но падеж Nom вместо Voc` });\n      }\n    }\n\n    // кросс-проверка роль/падеж — только там, где Nom и Acc гарантированно различаются\n    // по форме: личные местоимения, сущ. женского рода (Nom!=Acc всегда), одушевлённые\n    // (Anim: Acc=Gen, отличается от Nom). У среднего рода и неодушевлённых (Inan) —\n    // Nom==Acc по форме, это норма (падежный синкретизм), проверка там даёт ложные\n    // срабатывания (см. docs/plan.md). Если Anim/Inan не проставлена — полагаемся на род.\n    const caseReliable =\n      (pos === \"pron\" && NOM_ACC_DISTINCT_PRON.has(lemma)) ||\n      ([\"noun\", \"propn\"].includes(pos) && cats.includes(\"Fem\")) ||\n      ([\"noun\", \"propn\"].includes(pos) && cats.includes(\"Anim\"));\n    if ([\"noun\", \"propn\", \"pron\"].includes(pos) && caseReliable) {\n      if (role === \"NSUBJ\" && cats.includes(\"Acc\")) {\n        issues.push({ rule: \"case_role_mismatch\", wordNo, detail: `'${lemma}' — подлежащее (NSUBJ), но падеж Acc вместо Nom` });\n      }\n      if (role === \"OBJ\" && cats.includes(\"Nom\")) {\n        issues.push({ rule: \"case_role_mismatch\", wordNo, detail: `'${lemma}' — прямое дополнение (OBJ), но падеж Nom (обычно должен быть Acc/Gen)` });\n      }\n    }\n\n    if (pos === \"verb\") {\n      if (cats.includes(\"Inf\")) {\n        if (cats.some((c) => BARE_NUMBER.test(c) || NUM_PERSON_COMBO.test(c))) {\n          issues.push({ rule: \"infinitive_with_number\", wordNo, detail: `У инфинитива '${lemma}' указано число/лицо (не должно быть)` });\n        }\n      }\n      if (cats.includes(\"Past\")) {\n        const hasGender = cats.some((c) => GENDERS.has(c));\n        const isPlural = cats.includes(\"P\") || cats.includes(\"Plur\");\n        if (!hasGender && !isPlural) {\n          issues.push({ rule: \"past_missing_gender\", wordNo, detail: `У глагола прош. времени '${lemma}' не указан род (и форма не мн. числа)` });\n        }\n      }\n      if (cats.includes(\"Ind\") && !cats.some((c) => [\"Pres\", \"Fut\", \"Past\"].includes(c))) {\n        issues.push({ rule: \"verb_missing_tense\", wordNo, detail: `У глагола '${lemma}' в изъявительном наклонении (Ind) не указано время (Pres/Fut/Past)` });\n      }\n    }\n\n    if (pos === \"pron\" && INTERROGATIVE_RELATIVE_PRON.has(lemma)) {\n      if (cats.some((c) => NUM_PERSON_COMBO.test(c) || BARE_NUMBER.test(c))) {\n        issues.push({ rule: \"interrogative_pronoun_has_number_person\", wordNo, detail: `У вопросительного/относительного местоимения '${lemma}' указаны число/лицо (по FAQ — убрать)` });\n      }\n    }\n  });\n\n  for (let i = 0; i < parsedMor.length; i++) {\n    const tok = parsedMor[i];\n    if (!tok) continue;\n    if (QUANT_2_4.has(tok.lemma)) {\n      const nxt = parsedMor[i + 1];\n      if (nxt && (nxt.pos === \"noun\" || nxt.pos === \"propn\")) {\n        if (nxt.cats.includes(\"Plur\") && nxt.cats.includes(\"Nom\")) {\n          issues.push({ rule: \"numeral_2_4_agreement\", wordNo: i + 2, detail: `После числительного '${tok.lemma}' у '${nxt.lemma}' стоит Plur-Nom вместо Sing-Gen` });\n        }\n      }\n    }\n  }\n\n  return issues;\n}\n\n// --- n8n entry point ---\nconst items = $input.all();\nconst results = [];\n\nfor (let idx = 0; idx < items.length; idx++) {\n  const item = items[idx];\n  let chaText = item.json.chaText || \"\";\n  if (!chaText && item.binary && item.binary.data) {\n    // Правильный способ достать содержимое бинарного файла в Code-узле —\n    // через this.helpers.getBinaryDataBuffer, а не читать item.binary.data.data\n    // напрямую: в современных версиях n8n бинарные данные могут храниться не\n    // инлайн, а на диске/в отдельном хранилище, и .data может отсутствовать.\n    const buffer = await this.helpers.getBinaryDataBuffer(idx, \"data\");\n    chaText = buffer.toString(\"utf-8\");\n  }\n  const { headerLines, utterances } = parseCha(chaText);\n\n  const flagged = [];\n  utterances.forEach((u, idx) => {\n    const issues = checkUtterance(u);\n    if (issues.length) {\n      flagged.push({\n        utteranceIdx: idx,\n        line: u.lineIdx + 1,\n        speaker: u.speaker,\n        textLine: u.textLine,\n        textLineIndices: u.textLineIndices,\n        morRaw: u.morRaw,\n        graRaw: u.graRaw,\n        morLineIndices: u.morLineIndices,\n        graLineIndices: u.graLineIndices,\n        issues,\n      });\n    }\n  });\n\n  results.push({\n    json: {\n      fileName: item.json.fileName || (item.binary && item.binary.data && item.binary.data.fileName) || \"unknown.cha\",\n      chaText,\n      totalUtterances: utterances.length,\n      flaggedCount: flagged.length,\n      flagged,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "9549e523-0108-416c-b022-b1a82a54e05b",
      "name": "Правила: найти подозрительные предложения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Код для n8n Code-узла (\"LLM: проверить и исправить подозрения\")\n// Режим: \"Run Once for All Items\"\n// Вход: N items из узла \"Правила: найти подозрительные предложения\" — по одному на каждый\n// .cha файл (при папочном вводе через \"Читать файлы .cha\" их может быть много).\n// Делает по одному запросу к YandexGPT на каждое подозрительное предложение КАЖДОГО файла\n// (не на весь файл целиком — дешевле и модель не отвлекается на текст без проблем),\n// используя this.helpers.httpRequest — поддерживаемый способ ходить в интернет из Code-узла.\n//\n// Ключи берутся из узла \"Ключи Yandex Cloud (НЕ публиковать в скриншотах!)\" — см. BUILD_GUIDE.md.\n// Модель — YandexGPT (Yandex Cloud Foundation Models), разрешённая курсом платформа.\n// Выход: N items (по одному на файл) с results — массивом исправлений на файл.\n// На большой папке это может занять несколько минут — вызовы идут последовательно,\n// это нормально, не бага.\n\nconst RULE_CONTEXT = {\n  infinitive_with_number: `У инфинитива (тег Inf) НЕ должно быть числа и лица. Частая ошибка —\nоставлять \"S\" или \"S2\" у инфинитива. Правильно: verb|говорить-Inf-Imp (без числа).`,\n  past_missing_gender: `Глаголы прошедшего времени (Past) согласуются по роду и числу, а не по лицу.\nЕсли число не множественное (нет отдельного \"P\"), обязателен род (Masc/Fem/Neut).\nПример: \"была\" -> verb|быть-Fin-Imp-Ind-Past-Fem-S.`,\n  interrogative_pronoun_has_number_person: `У вопросительных и относительных местоимений\n(что, кто, какой, чей, сколько, который) число и лицо убираются (по FAQ разметчиков).\npron|что-IntRel-Nom-S1 — ошибка, правильно pron|что-IntRel-Nom.`,\n  no_root: `В каждом предложении должен быть ровно один узел ROOT с вершиной 0.`,\n  multiple_root: `В предложении должен быть только один ROOT. Если предикатов несколько:\nоднородные — первый ROOT, остальные CONJ; если один в придаточном — CCOMP/ADVCL.`,\n  root_head_not_zero: `Вершина ROOT всегда 0 (например \"3|0|ROOT\"), а не \"-\" и не номер слова.\nЧастая причина — конструкции \"давай + глагол\": \"давай\" это AUX, а не ROOT, корень — второй глагол.`,\n  noun_missing_category: `У существительных и имён собственных обязательны род, число и падеж.`,\n  numeral_2_4_agreement: `После числительных два/две/три/четыре существительное должно\nстоять в Sing-Gen, а не в Plur-Nom (частая ошибка — \"две буквы\" размечено как Plur-Nom).`,\n  token_count_mismatch: `Число токенов в %mor должно совпадать с числом токенов в %gra.\nЧастая причина расхождения — пропущенный пробел между словом и следующим токеном\n(например \"неплоxоcm|cm\" вместо \"неплоxо\" + отдельный токен \"cm|cm\").\nВАЖНО про формат при разделении токенов: запятая всегда оформляется как отдельный\nтокен \"cm|cm\" (лемма — буквально строка \"cm\", НЕ сам символ запятой). Точка/восклицательный/\nвопросительный знак в конце предложения — это ГОЛЫЙ символ без части речи и без префикса\n(просто \".\" или \"!\" или \"?\", НЕ \"punct|.\" и не что-то ещё) — как в остальных токенах этого\nкорпуса. Не изобретай новые обозначения тегов, которых нет в остальном файле.\nДругая частая причина — в %gra не хватает записи для последнего токена (обычно финальный\nзнак препинания). По статистике корпуса такой знак чаще всего крепится к ROOT (~73%) или\nк последнему однородному сказуемому в цепочке ROOT+CONJ (ещё часть случаев) — но это не\nжёсткое правило, ориентируйся на конкретную структуру именно этого предложения.`,\n  tab_vs_space: `После %mor: и %gra: должен стоять таб, а не пробел.`,\n  gra_tag_typo: `Синтаксический тег не входит в список реально используемых в этом корпусе —\nпохоже на опечатку (например \"PARATXIS\" вместо \"PARATAXIS\", \"DSICOURSE\" вместо \"DISCOURSE\").\nПроверь, не опечатка ли это, и если да — исправь на правильное написание тега.`,\n  mor_pos_typo: `Часть речи (тег до \"|\") не входит в список реально используемых в этом\nкорпусе — похоже на опечатку (например \"ptopn\" вместо \"propn\", \"itnj\" вместо \"intj\").\nПроверь и исправь написание, не меняя саму часть речи по смыслу.`,\n  verb_missing_tense: `У финитного глагола в изъявительном наклонении (тег Ind) обязательно\nдолжно быть время: Pres (наст.), Fut (буд.) или Past (прош.). Пример: \"соберёте\" ->\nverb|собрать-Fin-Perf-Ind-Fut-P2 (время Fut обязательно, не только число+лицо P2).`,\n  det_missing_case: `У местоименных прилагательных (тег det, например \"твой\", \"этот\",\n\"такой\") обязательно должен быть указан падеж (по FAQ разметчиков — да, нужно).`,\n  vocative_should_be_voc: `Если слово (обычно имя) выступает как обращение (роль VOCATIVE\nв %gra), падеж должен быть Voc (звательный), а не Nom. Пример: \"Тося , молодец!\" — если\n\"Тося\" стоит в VOCATIVE, у него должен быть падеж Voc, а не Nom.`,\n  case_role_mismatch: `Синтаксическая роль слова (в %gra) не согласуется с его падежом\n(в %mor): подлежащее (NSUBJ) должно быть в Nom, а не в Acc; прямое дополнение (OBJ) обычно\nв Acc или Gen, а не в Nom. ВАЖНО: это только КАНДИДАТ на проверку — у местоимений вроде\n\"что\"/\"это\"/\"всё\" и у существительных среднего/неодушевлённого мужского рода формы Nom и\nAcc совпадают по написанию, и это НЕ ошибка (падежный синкретизм русского языка) — в таких\nслучаях подтверждать ошибку не нужно, если слово реально может быть и Nom, и Acc по форме.`,\n  noun_missing_animacy: `ЭТО НЕ ОШИБКА, А ЗАДАЧА ОБОГАЩЕНИЯ РАЗМЕТКИ: у существительного/имени\nне указана одушевлённость (категория Anim — одушевлённое, или Inan — неодушевлённое).\nОпредели по смыслу слова, обозначает ли оно живое существо (человека, животное) — тогда\nAnim, иначе Inan, и добавь эту категорию. Порядок категорий для сущ.: род-число-падеж-\nодушевлённость (добавляется после падежа). Пример: noun|кошка-Fem-Sing-Nom-Anim (кошка —\nживое существо), noun|стол-Masc-Sing-Nom-Inan (стол — неодушевлённый предмет).\nhasRealIssue в этом случае означает \"категория успешно добавлена\", а не \"была ошибка\".`,\n  noun_category_order: `Категории у существительных должны идти в порядке\nрод-число-падеж(-одушевлённость) — например noun|кошка-Fem-Sing-Nom-Anim, а не\nnoun|кошка-Nom-Fem-Sing-Anim. Переставь категории в правильный порядок, не меняя их значения.\nИгнорируй сегменты, которые на самом деле часть дефисной леммы (например \"чунга-чанга\"),\nа не отдельная категория — их трогать не нужно.`,\n};\n\nconst SYSTEM_PROMPT = `Ты помогаешь перепроверять морфологическую (%mor) и синтаксическую (%gra)\nразметку детской речи в формате CHILDES/CHAT по конвенциям Universal Dependencies\n(корпус Taiga для русского). Тебе присылают реплику, текущую разметку и список\nконкретных подозрений от автоматической проверки правил, плюс релевантный кусок\nинструкции.\n\nПомимо конкретного подозрения, всегда дополнительно проверяй в этой же реплике:\n1. ОПЕЧАТКИ РАСШИФРОВЩИКА в самом слове (не детское произношение!). Если очевидно, что\n   человек, печатавший транскрипт, ошибся при наборе (пропустил/переставил букву,\n   опечатался) — это нужно исправить. НЕ трогай настоящее произношение/выговор ребёнка\n   (искажения вроде \"сяс\" вместо \"сейчас\", слова с @u/@c и т.п. — это нормальная детская\n   речь, её сохраняем как есть, не \"исправляем\"). Разница: опечатка — это ошибка НАБОРА\n   ТЕКСТА человеком (например \"тйебя\" вместо \"тебя\"), а не то, как ребёнок что-то произнёс.\n   ВАЖНО: реплику НЕ перепечатывай целиком (в ней могут быть невидимые служебные символы\n   привязки к видео/аудио, которые нельзя терять) — вместо этого укажи в поле \"textFixes\"\n   массив точечных замен вида {\"from\": \"тйебя\", \"to\": \"тебя\"} (что именно заменить в тексте\n   реплики). Если опечаток не нашлось — верни пустой массив.\n   КРИТИЧЕСКИ ВАЖНО: если исправляешь опечатку — исправляй её ВЕЗДЕ СРАЗУ и одинаково:\n   и в textFixes (сам текст реплики), И в лемме в %mor, И, если из-за опечатки слово\n   получило неверную часть речи (например местоимение \"тебя\" по ошибке размечено как\n   noun вместо pron с леммой \"ты\") — исправь часть речи и лемму тоже. Не оставляй\n   слово наполовину исправленным (например лемма поправлена, а сама реплика — нет,\n   или наоборот).\n2. СКОБОЧНЫЕ ПОМЕТКИ [: X], [= X], [*] в реплике — по ним нужно определить, как разбирать\n   слово: [: X] (фонетическая замена) и [= X] (глосса/пояснение значения) — это просто\n   уточнение произношения/смысла, разбор делай ПО X (исправленному/поясняющему варианту).\n   А вот [*] отдельно или вместе с [: X] помечает НАСТОЯЩУЮ ГРАММАТИЧЕСКУЮ ОШИБКУ ребёнка\n   (не опечатку и не произношение) — например согласование рода/числа (\"мама сделал\" —\n   ребёнок реально так сказал, спутав род). В этом случае разбор нужно делать по ИСХОДНОМУ\n   слову, как ребёнок его реально произнёс/сказал, а не по \"исправленному\" — такие ошибки\n   сами по себе ценные данные для исследования освоения языка, их нельзя \"заглаживать\".\n3. КОРРЕКТНОСТЬ ЛЕММЫ в %mor. Лемма должна быть начальной (словарной) формой слова —\n   инфинитив для глаголов (например \"найти\", а не спрягаемая форма \"нашла\"), именительный\n   падеж единственного числа для существительных/прилагательных. Если лемма явно\n   ошибочно указана как словоформа из текста, а не начальная форма — исправь её прямо в\n   строке %mor (это часть correctedMor, отдельного поля для этого нет).\n\nДля каждого подозрения и для найденных опечаток/лемм: (1) реши, реальная это ошибка или\nложное срабатывание правила; (2) если реальная — верни исправленную строку %mor и/или\n%gra ЦЕЛИКОМ (все токены по порядку, не только исправленный), и/или textFixes для опечаток\nв реплике; (3) напиши один короткий комментарий на русском, что изменено и почему. Если\nошибок нет вообще — верни исходные строки без изменений, пустой textFixes и пустой\nкомментарий. Отвечай СТРОГО в JSON без текста вне JSON:\n{\"hasRealIssue\": bool, \"correctedMor\": string, \"correctedGra\": string,\n\"textFixes\": [{\"from\": string, \"to\": string}], \"comment\": string}`;\n\n// Ключи Yandex Cloud берутся из узла \"Ключи Yandex Cloud (НЕ публиковать в скриншотах!)\"\nconst ykeys = $('Ключи Yandex Cloud (НЕ публиковать в скриншотах!)').first().json;\nconst apiKey = ykeys.apiKey;\nconst folderId = ykeys.folderId;\n\n// вырезаем JSON из ответа модели на случай, если она обернула его в ```json ... ``` или добавила текст вокруг\nfunction extractJson(text) {\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  const candidate = fenced ? fenced[1] : text;\n  const start = candidate.indexOf(\"{\");\n  const end = candidate.lastIndexOf(\"}\");\n  return JSON.parse(candidate.slice(start, end + 1));\n}\n\n// --- Верификация: правда ли LLM решила именно то, что было заявлено в подозрении ---\n// LLM иногда чинит часть проблем в предложении, а часть (особенно когда их несколько\n// сразу) — молча пропускает. Вместо того чтобы доверять hasRealIssue вслепую, перепроверяем\n// каждое конкретное исходное подозрение по факту на исправленном %mor/%gra — это чистый\n// код, без обращения к модели, поэтому бесплатно и мгновенно.\nconst CASES = new Set([\"Nom\", \"Gen\", \"Acc\", \"Dat\", \"Ins\", \"Loc\", \"Voc\"]);\nconst GENDERS = new Set([\"Masc\", \"Fem\", \"Neut\"]);\nconst NUMBERS = new Set([\"Sing\", \"Plur\"]);\nconst ANIMACY = new Set([\"Anim\", \"Inan\"]);\nconst NUM_PERSON_COMBO = /^[SP][123]$/;\nconst BARE_NUMBER = /^[SP]$/;\n\nfunction splitMorToken(token) {\n  if (!token.includes(\"|\")) return null;\n  const idx = token.indexOf(\"|\");\n  const pos = token.slice(0, idx);\n  const rest = token.slice(idx + 1);\n  const parts = rest.split(\"-\");\n  return { pos, lemma: parts[0], cats: parts.slice(1) };\n}\n\nfunction parseGraInfo(graTokens) {\n  let rootCount = 0;\n  let rootHeadOk = true;\n  for (const tok of graTokens) {\n    const m = tok.match(/^(\\d+)\\|(\\d+|-)\\|([A-Za-z:_]+)$/);\n    if (!m) continue;\n    const [, , head, tag] = m;\n    if (tag.toUpperCase() === \"ROOT\") {\n      rootCount++;\n      if (head !== \"0\") rootHeadOk = false;\n    }\n  }\n  return { rootCount, rootHeadOk };\n}\n\n// Проверяет каждое исходно найденное подозрение по факту на исправленном тексте.\n// Для части редких/сложных правил (case_role_mismatch, numeral_2_4_agreement,\n// опечатки в тегах) точную перепроверку не делаем — это низкообъёмные и более\n// контекстно-зависимые случаи, считаем их решёнными по слову модели, не блокируем.\nfunction findUnresolvedIssues(issues, morTokensStr, graTokensStr) {\n  const morTokens = morTokensStr ? morTokensStr.split(/\\s+/).filter(Boolean) : [];\n  const graTokens = graTokensStr ? graTokensStr.split(/\\s+/).filter(Boolean) : [];\n  const parsedMor = morTokens.map(splitMorToken);\n  const graInfo = parseGraInfo(graTokens);\n\n  return issues.filter((issue) => {\n    const tok = issue.wordNo ? parsedMor[issue.wordNo - 1] : null;\n    switch (issue.rule) {\n      case \"noun_missing_animacy\":\n        return !(tok && tok.cats.some((c) => ANIMACY.has(c)));\n      case \"noun_missing_category\":\n        return !(\n          tok &&\n          tok.cats.some((c) => GENDERS.has(c)) &&\n          tok.cats.some((c) => NUMBERS.has(c)) &&\n          tok.cats.some((c) => CASES.has(c))\n        );\n      case \"det_missing_case\":\n        return !(tok && tok.cats.some((c) => CASES.has(c)));\n      case \"vocative_should_be_voc\":\n        return !(tok && tok.cats.includes(\"Voc\"));\n      case \"verb_missing_tense\":\n        return !(tok && tok.cats.some((c) => [\"Pres\", \"Fut\", \"Past\"].includes(c)));\n      case \"past_missing_gender\":\n        return !(tok && (tok.cats.some((c) => GENDERS.has(c)) || tok.cats.includes(\"P\") || tok.cats.includes(\"Plur\")));\n      case \"infinitive_with_number\":\n        return !!(tok && tok.cats.some((c) => BARE_NUMBER.test(c) || NUM_PERSON_COMBO.test(c)));\n      case \"interrogative_pronoun_has_number_person\":\n        return !!(tok && tok.cats.some((c) => NUM_PERSON_COMBO.test(c) || BARE_NUMBER.test(c)));\n      case \"noun_category_order\": {\n        if (!tok) return true;\n        const rank = { G: 0, N: 1, C: 2, A: 3 };\n        const order = [];\n        for (const c of tok.cats) {\n          if (GENDERS.has(c)) order.push(\"G\");\n          else if (NUMBERS.has(c)) order.push(\"N\");\n          else if (CASES.has(c)) order.push(\"C\");\n          else if (ANIMACY.has(c)) order.push(\"A\");\n        }\n        return order.join(\"\") !== [...order].sort((a, b) => rank[a] - rank[b]).join(\"\");\n      }\n      case \"no_root\":\n        return graInfo.rootCount === 0;\n      case \"multiple_root\":\n        return graInfo.rootCount > 1;\n      case \"root_head_not_zero\":\n        return graInfo.rootCount >= 1 && !graInfo.rootHeadOk;\n      case \"token_count_mismatch\":\n        return morTokens.length !== graTokens.length;\n      default:\n        return false; // case_role_mismatch, numeral_2_4_agreement, *_typo, tab_vs_space — не перепроверяем\n    }\n  });\n}\n\nasync function callYandexGPT(userPrompt, temperature = 0.1) {\n  const response = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://llm.api.cloud.yandex.net/foundationModels/v1/completion\",\n    timeout: 30000, // 30 сек на один запрос — зависший запрос падает с ошибкой,\n    // а не блокирует весь пакет файлов навсегда\n    headers: {\n      Authorization: `Api-Key ${apiKey}`,\n      \"x-folder-id\": folderId,\n      \"Content-Type\": \"application/json\",\n    },\n    body: {\n      modelUri: `gpt://${folderId}/yandexgpt/latest`,\n      completionOptions: { stream: false, temperature, maxTokens: \"2000\" },\n      messages: [\n        { role: \"system\", text: SYSTEM_PROMPT },\n        { role: \"user\", text: userPrompt },\n      ],\n    },\n    json: true,\n  });\n  return extractJson(response.result.alternatives[0].message.text);\n}\n\nfunction buildUserPrompt(fileName, f, issuesSubset, morRaw, graRaw) {\n  const contextChunks = [...new Set(issuesSubset.map((i) => i.rule))]\n    .map((rule) => RULE_CONTEXT[rule])\n    .filter(Boolean)\n    .join(\"\\n\\n\");\n  return `Файл: ${fileName}\nСтрока: ${f.line}\nРеплика: ${f.textLine}\nТекущий %mor: ${morRaw}\nТекущий %gra: ${graRaw}\n\nПодозрения от правил:\n${issuesSubset.map((i) => `- (${i.rule}) ${i.detail}`).join(\"\\n\")}\n\nРелевантные правила разметки:\n${contextChunks}\n\nВерни JSON по описанной схеме.`;\n}\n\nasync function checkOne(f, fileName) {\n  let parsed = { hasRealIssue: false, correctedMor: f.morRaw, correctedGra: f.graRaw, textFixes: [], comment: \"\" };\n  let debugError = null;\n  try {\n    parsed = await callYandexGPT(buildUserPrompt(fileName, f, f.issues, f.morRaw, f.graRaw));\n  } catch (e) {\n    // ВРЕМЕННО (для отладки): не глушим ошибку молча, а записываем её в debugError,\n    // чтобы было видно в выводе узла, что именно пошло не так.\n    debugError = e.message || String(e);\n  }\n\n  let correctedMor = parsed.correctedMor || f.morRaw;\n  let correctedGra = parsed.correctedGra || f.graRaw;\n  let textFixes = Array.isArray(parsed.textFixes) ? parsed.textFixes : [];\n  let comment = parsed.comment || \"\";\n\n  // Верификация + один точечный повторный запрос, если что-то из заявленного не решено\n  let unresolved = debugError ? f.issues : findUnresolvedIssues(f.issues, correctedMor, correctedGra);\n  if (unresolved.length && !debugError) {\n    try {\n      const retryParsed = await callYandexGPT(buildUserPrompt(fileName, f, unresolved, correctedMor, correctedGra), 0);\n      const retryMor = retryParsed.correctedMor || correctedMor;\n      const retryGra = retryParsed.correctedGra || correctedGra;\n      const stillUnresolved = findUnresolvedIssues(unresolved, retryMor, retryGra);\n      if (stillUnresolved.length < unresolved.length) {\n        // повтор реально что-то улучшил — принимаем его результат\n        correctedMor = retryMor;\n        correctedGra = retryGra;\n        if (Array.isArray(retryParsed.textFixes)) textFixes = textFixes.concat(retryParsed.textFixes);\n        if (retryParsed.comment) comment = comment ? `${comment}; ${retryParsed.comment}` : retryParsed.comment;\n      }\n      unresolved = findUnresolvedIssues(f.issues, correctedMor, correctedGra);\n    } catch (e) {\n      // повтор не удался — остаток так и останется в unresolved, попадёт в отчёт для человека\n    }\n  }\n\n  return {\n    lineNumber: f.line,\n    morLineIndices: f.morLineIndices,\n    graLineIndices: f.graLineIndices,\n    textLineIndices: f.textLineIndices,\n    hasRealIssue: !!parsed.hasRealIssue || correctedMor !== f.morRaw || correctedGra !== f.graRaw || textFixes.length > 0,\n    correctedMor,\n    correctedGra,\n    textFixes,\n    comment,\n    unresolvedIssues: unresolved, // { rule, wordNo, detail } — полные объекты, не только имя правила\n    debugError,\n  };\n}\n\n// Запросы к YandexGPT идут с ограниченным параллелизмом (не по одному, но и не все\n// сразу — чтобы не упереться в rate limit API). CONCURRENCY можно уменьшить, если\n// начнут появляться debugError про превышение лимита запросов.\nconst CONCURRENCY = 5;\n\nasync function mapWithConcurrency(items, concurrency, worker) {\n  const results = new Array(items.length);\n  let nextIndex = 0;\n  async function runNext() {\n    while (nextIndex < items.length) {\n      const i = nextIndex++;\n      results[i] = await worker(items[i]);\n    }\n  }\n  const workers = Array.from({ length: Math.min(concurrency, items.length) }, runNext);\n  await Promise.all(workers);\n  return results;\n}\n\n// собираем ВСЕ подозрительные предложения со ВСЕХ файлов в один плоский список задач —\n// так параллелизм работает по всему батчу сразу, а не по одному файлу за раз\nconst tasks = [];\nfor (const item of $input.all()) {\n  const source = item.json;\n  for (const f of source.flagged || []) {\n    tasks.push({ fileName: source.fileName, f });\n  }\n}\n\nconst flatResults = tasks.length\n  ? await mapWithConcurrency(tasks, CONCURRENCY, async (t) => ({\n      fileName: t.fileName,\n      result: await checkOne(t.f, t.fileName),\n    }))\n  : [];\n\nconst resultsByFile = new Map();\nfor (const item of $input.all()) resultsByFile.set(item.json.fileName, []);\nfor (const fr of flatResults) resultsByFile.get(fr.fileName).push(fr.result);\n\nreturn $input.all().map((item) => ({\n  json: { fileName: item.json.fileName, results: resultsByFile.get(item.json.fileName) },\n}));\n"
      },
      "id": "ade71b42-3403-4f69-9089-08619a566169",
      "name": "LLM: проверить и исправить подозрения",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Код для n8n Code-узла (\"Собрать исправленный .cha + отчёт\")\n// Режим: \"Run Once for All Items\"\n// Вход: N items из узла \"LLM: проверить и исправить подозрения\" (по одному на файл,\n// поле results — массив). Исходные тексты файлов лежат в items узла\n// \"Правила: найти подозрительные предложения\" — сопоставляем по fileName.\n//\n// Выход: N items (по одному на файл), у каждого два поля (correctedCha, commentsMd) И\n// два бинарных вложения (correctedFile, commentsFile) — можно скачать кнопкой \"Download\".\n\nconst sourceByName = new Map(\n  $('Правила: найти подозрительные предложения').all().map((item) => [item.json.fileName, item.json])\n);\n\nconst ANIMACY = new Set([\"Anim\", \"Inan\"]);\n\nfunction splitMorToken(token) {\n  if (!token.includes(\"|\")) return null;\n  const idx = token.indexOf(\"|\");\n  const pos = token.slice(0, idx);\n  const rest = token.slice(idx + 1);\n  const parts = rest.split(\"-\");\n  return { pos, lemma: parts[0], cats: parts.slice(1), raw: token };\n}\n\n// Детерминированная проверка согласованности (без LLM): LLM обрабатывает каждое\n// предложение отдельным независимым запросом и не помнит, что решил для того же\n// слова в другом предложении того же файла — из-за этого одно и то же слово\n// (например повторяющееся имя) иногда получает одушевлённость, а иногда нет.\n// Этот проход находит уже определённые соответствия лемма+часть речи -> Anim/Inan\n// по всему файлу и подставляет их туда, где категория пропущена — гарантированно,\n// без обращения к модели.\nfunction enforceAnimacyConsistency(lines) {\n  const morLineIdxs = [];\n  for (let i = 0; i < lines.length; i++) {\n    if (lines[i].startsWith(\"%mor:\")) morLineIdxs.push(i);\n  }\n\n  const known = new Map(); // `${pos}|${lemma_lowercase}` -> \"Anim\" | \"Inan\"\n  for (const i of morLineIdxs) {\n    const content = lines[i].slice(5).replace(/^[ \\t]+/, \"\");\n    for (const t of content.split(/\\s+/).filter(Boolean)) {\n      const parsed = splitMorToken(t);\n      if (!parsed || (parsed.pos !== \"noun\" && parsed.pos !== \"propn\")) continue;\n      const anim = parsed.cats.find((c) => ANIMACY.has(c));\n      if (anim) {\n        const key = `${parsed.pos}|${parsed.lemma.toLowerCase()}`;\n        if (!known.has(key)) known.set(key, anim);\n      }\n    }\n  }\n\n  let filledCount = 0;\n  for (const i of morLineIdxs) {\n    const content = lines[i].slice(5).replace(/^[ \\t]+/, \"\");\n    const tokens = content.split(/\\s+/).filter(Boolean);\n    let changed = false;\n    const newTokens = tokens.map((t) => {\n      const parsed = splitMorToken(t);\n      if (!parsed || (parsed.pos !== \"noun\" && parsed.pos !== \"propn\")) return t;\n      if (parsed.cats.some((c) => ANIMACY.has(c))) return t;\n      const known_anim = known.get(`${parsed.pos}|${parsed.lemma.toLowerCase()}`);\n      if (!known_anim) return t;\n      changed = true;\n      filledCount++;\n      return `${parsed.pos}|${[parsed.lemma, ...parsed.cats, known_anim].join(\"-\")}`;\n    });\n    if (changed) lines[i] = \"%mor:\\t\" + newTokens.join(\" \");\n  }\n  return filledCount;\n}\n\nasync function buildOne(fileName, llmResults) {\n  const source = sourceByName.get(fileName);\n  const originalLines = source.chaText.split(/\\r?\\n/);\n\n  // Каждый тег %mor/%gra может занимать НЕСКОЛЬКО физических строк в исходном файле\n  // (длинные предложения переносятся, продолжение — строка с табом в начале).\n  // Заменяем весь диапазон строк тега на одну новую строку — поэтому собираем\n  // все правки и применяем их с конца файла к началу: так более ранние splice()\n  // не сдвигают индексы ещё не обработанных правок.\n  const changes = []; // { line, comment }\n  const edits = []; // { startIdx, count, newLine }\n  // потенциально нерешённые вопросы — перепроверим ещё раз ПОСЛЕ прохода согласованности\n  // одушевлённости (он может закрыть часть animacy-пунктов без участия LLM)\n  const potentialReview = []; // { lineNumber, morLineIndices, issue }\n\n  for (const r of llmResults) {\n    for (const issue of r.unresolvedIssues || []) {\n      potentialReview.push({ lineNumber: r.lineNumber, morLineIndices: r.morLineIndices, issue });\n    }\n    if (!r.hasRealIssue) continue;\n    if (r.correctedMor && r.morLineIndices && r.morLineIndices.length) {\n      edits.push({\n        startIdx: r.morLineIndices[0],\n        count: r.morLineIndices.length,\n        newLine: \"%mor:\\t\" + r.correctedMor,\n      });\n    }\n    if (r.correctedGra && r.graLineIndices && r.graLineIndices.length) {\n      edits.push({\n        startIdx: r.graLineIndices[0],\n        count: r.graLineIndices.length,\n        newLine: \"%gra:\\t\" + r.correctedGra,\n      });\n    }\n    // Опечатки в самой реплике: точечная замена (from->to) в исходном тексте, а не\n    // перепечатка строки целиком — так не теряются невидимые служебные символы\n    // (например привязка к видео/аудио при @Options: bullets).\n    if (r.textFixes && r.textFixes.length && r.textLineIndices && r.textLineIndices.length) {\n      let joined = originalLines[r.textLineIndices[0]];\n      for (let k = 1; k < r.textLineIndices.length; k++) {\n        joined = (joined + \" \" + originalLines[r.textLineIndices[k]].trim()).trim();\n      }\n      for (const fix of r.textFixes) {\n        if (fix && fix.from) joined = joined.replace(fix.from, fix.to || \"\");\n      }\n      edits.push({\n        startIdx: r.textLineIndices[0],\n        count: r.textLineIndices.length,\n        newLine: joined,\n      });\n    }\n    if (r.comment) {\n      changes.push({ line: r.lineNumber, comment: r.comment });\n    }\n  }\n\n  // Индексы в edits/potentialReview — это позиции в ИСХОДНОМ файле (до правок). Правки\n  // применяются снизу вверх, поэтому сама вставка корректна, но после неё массив строк\n  // короче (многострочные теги схлопываются в одну строку) — все индексы ПОСЛЕ места\n  // правки съезжают. translateIndex переводит исходный номер строки в актуальный номер\n  // в correctedLines — без этого сверка \"решено ли на самом деле\" смотрит не туда.\n  const sortedEditsAsc = [...edits].sort((a, b) => a.startIdx - b.startIdx);\n  function translateIndex(originalIdx) {\n    let shift = 0;\n    for (const e of sortedEditsAsc) {\n      if (e.startIdx + e.count <= originalIdx) {\n        shift += 1 - e.count; // правка целиком до originalIdx — учитываем изменение длины\n      } else if (e.startIdx <= originalIdx) {\n        return e.startIdx + shift; // originalIdx попадает внутрь этой правки\n      } else {\n        break;\n      }\n    }\n    return originalIdx + shift;\n  }\n\n  const correctedLines = [...originalLines];\n  edits\n    .sort((a, b) => b.startIdx - a.startIdx) // с конца файла к началу\n    .forEach((e) => correctedLines.splice(e.startIdx, e.count, e.newLine));\n\n  // Проход согласованности ПОСЛЕ основных правок LLM — заполняет пропуски одушевлённости\n  // там, где то же слово уже получило её в другом месте того же файла.\n  const consistencyFilled = enforceAnimacyConsistency(correctedLines);\n\n  // Финальная перепроверка \"нерешённых\" вопросов — часть animacy-пунктов могла как раз\n  // закрыться проходом согласованности выше, без участия LLM.\n  const needsReview = potentialReview.filter(({ morLineIndices, issue }) => {\n    if (issue.rule !== \"noun_missing_animacy\" || !morLineIndices || !morLineIndices.length) return true;\n    const line = correctedLines[translateIndex(morLineIndices[0])];\n    if (!line || !line.startsWith(\"%mor:\")) return true;\n    const tokens = line.slice(5).replace(/^[ \\t]+/, \"\").split(/\\s+/).filter(Boolean);\n    const tok = tokens[issue.wordNo - 1];\n    if (!tok) return true;\n    return !(tok.includes(\"-Anim\") || tok.includes(\"-Inan\"));\n  });\n\n  const correctedCha = correctedLines.join(\"\\n\");\n\n  let commentsMd = `# Комментарии перепроверки: ${fileName}\\n\\n`;\n  commentsMd += `Автоматическая перепроверка нашла и исправила ${changes.length} мест.\\n\\n`;\n  for (const c of changes.sort((a, b) => a.line - b.line)) {\n    commentsMd += `- [строка ${c.line}] ${c.comment}\\n`;\n  }\n  if (changes.length === 0) {\n    commentsMd += \"Исправлений не потребовалось — все подозрения правил не подтвердились.\\n\";\n  }\n  if (consistencyFilled > 0) {\n    commentsMd += `\\nДополнительно (без LLM, по совпадению слов внутри файла): согласована ` +\n      `одушевлённость ещё в ${consistencyFilled} местах, где то же слово уже получило ` +\n      `её в другой реплике этого файла.\\n`;\n  }\n  if (needsReview.length > 0) {\n    commentsMd += `\\n## Требует ручной проверки (${needsReview.length})\\n` +\n      `Автоматика нашла подозрение, но не смогла надёжно подтвердить исправление —` +\n      ` проверьте эти места вручную перед публикацией:\\n`;\n    for (const nr of needsReview.sort((a, b) => a.lineNumber - b.lineNumber)) {\n      commentsMd += `- [строка ${nr.lineNumber}] (${nr.issue.rule}) ${nr.issue.detail}\\n`;\n    }\n  }\n\n  const correctedFileName = fileName.replace(/\\.cha$/i, \"-rechecked.cha\");\n  const commentsFileName = fileName.replace(/\\.cha$/i, \"-comments.md\");\n\n  return {\n    json: { fileName, correctedFileName, commentsFileName, correctedCha, commentsMd },\n    binary: {\n      correctedFile: await this.helpers.prepareBinaryData(\n        Buffer.from(correctedCha, \"utf-8\"),\n        correctedFileName,\n        \"text/plain\"\n      ),\n      commentsFile: await this.helpers.prepareBinaryData(\n        Buffer.from(commentsMd, \"utf-8\"),\n        commentsFileName,\n        \"text/markdown\"\n      ),\n    },\n  };\n}\n\nconst output = [];\nfor (const item of $input.all()) {\n  output.push(await buildOne(item.json.fileName, item.json.results || []));\n}\n\nreturn output;\n"
      },
      "id": "caf5417b-4c9b-45aa-a36c-6641a8c7075f",
      "name": "Собрать результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Старт": {
      "main": [
        [
          {
            "node": "Ключи Yandex Cloud (НЕ публиковать в скриншотах!)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ключи Yandex Cloud (НЕ публиковать в скриншотах!)": {
      "main": [
        [
          {
            "node": "Вставить .cha файл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вставить .cha файл": {
      "main": [
        [
          {
            "node": "Правила: найти подозрительные предложения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Правила: найти подозрительные предложения": {
      "main": [
        [
          {
            "node": "LLM: проверить и исправить подозрения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: проверить и исправить подозрения": {
      "main": [
        [
          {
            "node": "Собрать результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "local"
  }
}